#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
  background: no-repeat  url('../../assets//img/imageBrand/imgPizzaLogin.jpg');
  background-size: cover;
  max-width: 1024px; 
  margin: 0 auto;
  opacity: 0.27;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}